.banner__content {
    display: flex;
    margin-bottom: 150px;
}

.banner__block {
    display: flex;
    flex-direction: column;
    max-width: 193px;
    align-items: center;
    margin-right: 40px;
    padding-top: 30px;
}

.banner__block-new {
    display: flex;
    flex-direction: column;
    max-width: 166px;
    align-items: center;
    padding-top: 60px;
}

.banner__paragraph-color {
font-weight: 400;
font-size: 30px;
text-align: center;
color: #fff;
}

.banner__color {
font-weight: 900;
font-size: 100px;
color: #cd06ff;
justify-content: center;
}

.banner__color-new {
font-weight: 900;
font-size: 75px;
font-variant: all-small-caps;
color: #cd06ff;
}

.banner__down {
    position: absolute;
    bottom: 90px;
    right:  555px;
    z-index: 1;
}

.banner__button {
font-weight: 700;
font-size: 26px;
line-height: 115%;
text-transform: uppercase;
color: #fff;
border-radius: 10px;
padding: 25px 69px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: #6c0287;
}

.banner__button::after {
    content: "";
    background: #6c0287;
    filter: blur(20px);
}



.banner__container {
    padding-top: 146px;
    position: relative;
    min-height: 822px;
}


.banner__container::after {
    content: "";
    background-image: url("../img/first-imge.png");
    background-repeat: no-repeat;
    width: 675px;
    height: 762px;
    position: absolute;
    bottom: 0;
    right: 20px;
    top: 60px;
}


.banner__title-game {
    display: block;
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: -0.1em;
    color: #fff;
    margin: 0;
}



.banner__paragraph {
    font-weight: 400;
    font-size: 28px;
    line-height: 179%;
    color: #fff;
    padding-left: 100px;
    margin-top: 0;
    margin-bottom: 0;
}


.faq__list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}



.faq__item {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    padding: 28px 70px;
    margin:0 0 20px;
    max-width: 1180px;
    height: 87px;
    text-align: left;
    text-transform: none;
}

.faq__item:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
    background-image: url("../img/open-purple.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 70px) center;
    background-size: 46px;
}

.faq__item:nth-child(even) {
    background-color: #440F51;
    color: white;
    background-image: url("../img/open.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 70px) center;
    background-size: 46px;
}

.faq__item:last-child {
    margin-bottom: 0; 
}




