.header {
    display: flow-root;
    padding-top: 30px;
    padding-bottom: 25px;
}

.header__container {
    display: flex;
}

.header__logo {
    float: left;
    margin-right: 96px;
}


.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 96px;
}


.header__item {
font-weight: 400;
font-size: 22px;
line-height: 227%;
text-transform: uppercase;
color: #fff;
}

.header__button {
font-weight: 700;
font-size: 22px;
line-height: 136%;
text-transform: uppercase;
color: #fff;
border: 3px solid #cd06ff;
border-radius: 10px;
padding: 8px 30px 8px 30px;
display: inline-block;
}

.header__button:hover {
    background-color: #6C0287;
    border: none;
}

.header__button:active {
    background-color: #640AA3;
    border-color: #000000 ;
}

.header__button:focus {
    background-color: #6C0287;
    border: none;
}
