


.rest__list {
    display: flex;
    flex-wrap: wrap;

}


.rest__item:first-child, .rest__item:nth-child(2), .rest__item:nth-child(3) {
    margin-bottom: 40px;
}

.rest__item {
    width: 380px;
    padding: 166px 40px 0 40px;
    margin-right: 20px;
}

.rest__item:nth-child(3) , .rest__item:nth-child(6) {
    margin-right: 0;
}

.text__item {
font-weight: 700;
font-size: 20px;
line-height: 140%;
color: #fff;
max-width: 300px;
}


.rest__item_vr { 
    background-image: url('/img/vr.jpg');
    background-repeat: no-repeat;
}

.rest__item_audi-sistem {
    background-image: url('/img/audi-sistem.jpg');
    background-repeat: no-repeat;
}

.rest__item_karaoke{
    background-image: url('/img/karaoke.jpg');
    background-repeat: no-repeat;
}

.rest__item_board-game {
    background-image: url('/img/board-games.jpg');
    background-repeat: no-repeat;
}

.rest__item_film {
    background-image: url('/img/film.jpg');
    background-repeat: no-repeat;
}

.rest__item_palystation{
    background-image: url('/img/palystation.jpg');
    background-repeat: no-repeat;
}

